In [9]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
#show plots inline
%matplotlib inline
import statsmodels.api as sm
from scipy import stats

In [11]:
students = pd.read_csv("MultiVariateCumGPA.csv",header=0,sep=',')

In [4]:

from geopy.geocoders import Nominatim
from geopy.distance import vincenty

cnt = 0
NewYork = (40.7306458, -73.9866136)

for index,row in students.iterrows():
    if (np.isnan(students.iloc[index]['distance']) ) and cnt < 1000:
        
        try:
            geolocator = Nominatim()
            location = geolocator.geocode(row['City'] + ',' + row['StateProvince'] + ',' + row['country'] )
            geolocation = (location.latitude , location.longitude)
            students.ix[index,'distance'] = vincenty(geolocation,NewYork).miles
        except:
            students.ix[index,'distance'] = 0
        cnt +=1
students.to_csv("MultiVariateCumGPA.csv")

C:\Users\mrb14\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

In [8]:
#sns.pairplot(students, size=4)
#plt.show()

In [14]:
list(students.columns.values)

['cnt',
 'entryId',
 'CUM_GPA',
 '(No column name)',
 'AvgCredits',
 'gender',
 'ProfileWeightEnum',
 'City',
 'StateProvince',
 'country',
 'distance']

In [58]:
from itertools import combinations

combos =  list(combinations(students.columns.values,2)) + list(combinations(students.columns.values,3)) + list(combinations(students.columns.values,4))
#combos = list(combinations(students.columns.values,2)) 
list(students.columns.values)
for combo in combos:
    print(list(combo))
    df = students[list(combo)]
    print(df)

['cnt', 'entryId']
      cnt  entryId
0       1   208111
1       2   204768
2       6   220565
3       1   183011
4       1   209218
5       1   216948
6       1   214809
7       1   216257
8       2   213542
9       1   176484
10      4   211553
11      8   167167
12      1   134466
13      2   185557
14      1   196595
15      1   210482
16      3   170828
17      8   217040
18      1   187510
19      2   183147
20      1   188109
21      2   151879
22      1   214766
23      2   185824
24      3   202125
25      2   197997
26      1   196518
27      1   181994
28      1   173263
29      1   187696
...   ...      ...
3289    4   192051
3290    1   182273
3291    3   216914
3292    2   201963
3293    1   151854
3294    2   225132
3295    1   196554
3296    1   207510
3297    2   227289
3298    1   217004
3299    5   166596
3300    3   216383
3301    1   207894
3302    1   211701
3303    1   243567
3304    2   211337
3305    1   186744
3306    1   211953
3307    3   136128
3308    4   209044
3309    4   207478
3310    1   197060
3311    8   137527
3312    1   138442
3313    2   188329
3314    1   180408
3315    8   155628
3316    1   226436
3317    3   214454
3318    2   211633

[3319 rows x 2 columns]
['cnt', 'CUM_GPA']
      cnt  CUM_GPA
0       1     3.21
1       2     2.87
2       6     3.53
3       1     3.61
4       1     3.91
5       1     2.38
6       1     3.59
7       1     3.21
8       2     3.71
9       1     3.58
10      4     3.72
11      8     3.28
12      1     3.31
13      2     3.47
14      1     2.71
15      1     3.06
16      3     3.17
17      8     3.47
18      1     3.94
19      2     3.59
20      1     3.45
21      2     3.22
22      1     3.41
23      2     3.89
24      3     3.52
25      2     3.08
26      1     3.75
27      1     3.36
28      1     3.21
29      1     3.56
...   ...      ...
3289    4     3.08
3290    1     3.01
3291    3     2.97
3292    2     3.65
3293    1     3.79
3294    2     3.73
3295    1     3.41
3296    1     3.72
3297    2     3.53
3298    1     3.71
3299    5     3.23
3300    3     3.65
3301    1     3.71
3302    1     3.66
3303    1     3.30
3304    2     3.88
3305    1     3.92
3306    1     2.65
3307    3     2.91
3308    4     3.08
3309    4     3.50
3310    1     3.62
3311    8     3.63
3312    1     3.31
3313    2     3.36
3314    1     3.37
3315    8     3.82
3316    1     3.52
3317    3     3.73
3318    2     2.74

[3319 rows x 2 columns]
['cnt', '(No column name)']
      cnt  (No column name)
0       1          1.166271
1       2          1.054312
2       6          1.261298
3       1          1.283708
4       1          1.363537
5       1          0.867100
6       1          1.278152
7       1          1.166271
8       2          1.311032
9       1          1.275363
10      4          1.313724
11      8          1.187843
12      1          1.196948
13      2          1.244155
14      1          0.996949
15      1          1.118415
16      3          1.153732
17      8          1.244155
18      1          1.371181
19      2          1.278152
20      1          1.238374
21      2          1.169381
22      1          1.226712
23      2          1.358409
24      3          1.258461
25      2          1.124930
26      1          1.321756
27      1          1.211941
28      1          1.166271
29      1          1.269761
...   ...               ...
3289    4          1.124930
3290    1          1.101940
3291    3          1.088562
3292    2          1.294727
3293    1          1.332366
3294    2          1.316408
3295    1          1.226712
3296    1          1.313724
3297    2          1.261298
3298    1          1.311032
3299    5          1.172482
3300    3          1.294727
3301    1          1.311032
3302    1          1.297463
3303    1          1.193922
3304    2          1.355835
3305    1          1.366092
3306    1          0.974560
3307    3          1.068153
3308    4          1.124930
3309    4          1.252763
3310    1          1.286474
3311    8          1.289233
3312    1          1.196948
3313    2          1.211941
3314    1          1.214913
3315    8          1.340250
3316    1          1.258461
3317    3          1.316408
3318    2          1.007958

[3319 rows x 2 columns]
['cnt', 'AvgCredits']
      cnt  AvgCredits
0       1   16.000000
1       2   20.000000
2       6   23.000000
3       1   20.800000
4       1   29.000000
5       1   12.666667
6       1   21.500000
7       1   16.500000
8       2   16.000000
9       1   17.750000
10      4   15.000000
11      8   17.800000
12      1   13.666667
13      2   16.000000
14      1   16.000000
15      1   18.000000
16      3   16.000000
17      8   24.500000
18      1   26.000000
19      2   19.750000
20      1   18.000000
21      2   17.200000
22      1   18.000000
23      2   23.000000
24      3   17.500000
25      2   26.500000
26      1   30.000000
27      1   17.333333
28      1   16.000000
29      1   19.250000
...   ...         ...
3289    4    9.125000
3290    1   16.250000
3291    3   25.000000
3292    2   18.000000
3293    1   16.000000
3294    2   10.000000
3295    1   18.000000
3296    1   26.000000
3297    2   21.000000
3298    1   20.000000
3299    5   20.750000
3300    3   21.000000
3301    1   14.000000
3302    1   12.333333
3303    1   36.000000
3304    2   14.500000
3305    1   16.000000
3306    1   17.000000
3307    3   15.400000
3308    4   17.666667
3309    4   13.333333
3310    1   20.000000
3311    8   15.000000
3312    1   17.200000
3313    2   18.000000
3314    1   17.000000
3315    8   17.800000
3316    1   32.000000
3317    3   18.000000
3318    2   16.000000

[3319 rows x 2 columns]
['cnt', 'gender']
      cnt  gender
0       1       0
1       2       1
2       6       0
3       1       0
4       1       1
5       1       0
6       1       1
7       1       0
8       2       1
9       1       1
10      4       1
11      8       0
12      1       0
13      2       1
14      1       1
15      1       1
16      3       0
17      8       1
18      1       1
19      2       0
20      1       0
21      2       1
22      1       0
23      2       0
24      3       0
25      2       0
26      1       0
27      1       1
28      1       0
29      1       1
...   ...     ...
3289    4       0
3290    1       0
3291    3       1
3292    2       1
3293    1       1
3294    2       1
3295    1       1
3296    1       0
3297    2       1
3298    1       1
3299    5       1
3300    3       1
3301    1       0
3302    1       0
3303    1       1
3304    2       0
3305    1       1
3306    1       1
3307    3       1
3308    4       1
3309    4       1
3310    1       1
3311    8       1
3312    1       1
3313    2       0
3314    1       1
3315    8       1
3316    1       1
3317    3       1
3318    2       0

[3319 rows x 2 columns]
['cnt', 'ProfileWeightEnum']
      cnt  ProfileWeightEnum
0       1                  3
1       2                  4
2       6                  5
3       1                  3
4       1                  4
5       1                  3
6       1                  3
7       1                  3
8       2                  4
9       1                  1
10      4                  4
11      8                  4
12      1                  2
13      2                  3
14      1                  3
15      1                  4
16      3                  3
17      8                  5
18      1                  3
19      2                  3
20      1                  3
21      2                  2
22      1                  4
23      2                  4
24      3                  3
25      2                  4
26      1                  3
27      1                  5
28      1                  3
29      1                  3
...   ...                ...
3289    4                  3
3290    1                  1
3291    3                  1
3292    2                  3
3293    1                  4
3294    2                  2
3295    1                  3
3296    1                  3
3297    2                  3
3298    1                  2
3299    5                  3
3300    3                  3
3301    1                  4
3302    1                  4
3303    1                  3
3304    2                  4
3305    1                  2
3306    1                  2
3307    3                  2
3308    4                  5
3309    4                  4
3310    1                  1
3311    8                  3
3312    1                  3
3313    2                  4
3314    1                  3
3315    8                  3
3316    1                  3
3317    3                  4
3318    2                  3

[3319 rows x 2 columns]
['cnt', 'City']
      cnt                City
0       1                 Rye
1       2              Smyrna
2       6        Chesterbrook
3       1          Farmington
4       1            New York
5       1             Astoria
6       1       Boynton Beach
7       1               Union
8       2             Norwalk
9       1               Bronx
10      4            Brooklyn
11      8              Lahore
12      1        Williamstown
13      2       Staten Island
14      1             Arcadia
15      1            Shenzhen
16      3           Islamabad
17      8            New City
18      1          Richardson
19      2           Cleveland
20      1             Raleigh
21      2             Valrico
22      1           Las Vegas
23      2            Richmond
24      3            Voorhees
25      2                Katy
26      1  Princeton Junction
27      1              Revere
28      1         Mount Kisco
29      1              Leonia
...   ...                 ...
3289    4            Mussafah
3290    1               Bronx
3291    3          Lackawanna
3292    2             Orlando
3293    1            Hinsdale
3294    2        Port Harcout
3295    1           Stratford
3296    1       East Willison
3297    2        Hillsborough
3298    1        Severna Park
3299    5   Arlington Heights
3300    3     North Kingstown
3301    1               Rugao
3302    1            New York
3303    1              Laurel
3304    2            Oak Park
3305    1            Mascotte
3306    1  Huntington Station
3307    3       East Elmhurst
3308    4              Aurora
3309    4           Bangalore
3310    1            Setauket
3311    8           Las Vegas
3312    1        Hillsborough
3313    2          South Hero
3314    1          Naperville
3315    8          San Marino
3316    1           Riverside
3317    3        Florham Park
3318    2            Ossining

[3319 rows x 2 columns]
['cnt', 'StateProvince']
      cnt StateProvince
0       1            NY
1       2            GA
2       6            PA
3       1            CT
4       1            NY
5       1            NY
6       1            FL
7       1            NJ
8       2            CT
9       1            NY
10      4            NY
11      8
12      1            NJ
13      2            NY
14      1            CA
15      1            44
16      3
17      8            NY
18      1            TX
19      2            OH
20      1            NC
21      2            FL
22      1            NV
23      2            VA
24      3            NJ
25      2            TX
26      1            NJ
27      1            MA
28      1            NY
29      1            NJ
...   ...           ...
3289    4            AZ
3290    1            NY
3291    3            NY
3292    2            FL
3293    1            IL
3294    2            RI
3295    1            CT
3296    1            NY
3297    2            CA
3298    1            MD
3299    5            IL
3300    3            RI
3301    1            32
3302    1            NY
3303    1            MD
3304    2            IL
3305    1            FL
3306    1            NY
3307    3            NY
3308    4            CO
3309    4            KA
3310    1            NY
3311    8            NV
3312    1            NJ
3313    2            VT
3314    1            IL
3315    8            CA
3316    1            CT
3317    3            NJ
3318    2            NY

[3319 rows x 2 columns]
['cnt', 'country']
      cnt               country
0       1         United States
1       2         United States
2       6         United States
3       1         United States
4       1         United States
5       1         United States
6       1         United States
7       1         United States
8       2         United States
9       1         United States
10      4         United States
11      8              Pakistan
12      1         United States
13      2         United States
14      1         United States
15      1                 China
16      3              Pakistan
17      8         United States
18      1         United States
19      2         United States
20      1         United States
21      2         United States
22      1         United States
23      2         United States
24      3         United States
25      2         United States
26      1         United States
27      1         United States
28      1         United States
29      1         United States
...   ...                   ...
3289    4  United Arab Emirates
3290    1         United States
3291    3         United States
3292    2         United States
3293    1         United States
3294    2               Nigeria
3295    1         United States
3296    1         United States
3297    2         United States
3298    1         United States
3299    5         United States
3300    3         United States
3301    1                 China
3302    1         United States
3303    1         United States
3304    2         United States
3305    1         United States
3306    1         United States
3307    3         United States
3308    4         United States
3309    4                 India
3310    1         United States
3311    8         United States
3312    1         United States
3313    2         United States
3314    1         United States
3315    8         United States
3316    1         United States
3317    3         United States
3318    2         United States

[3319 rows x 2 columns]
['cnt', 'distance']
      cnt     distance
0       1    23.428611
1       2   714.797582
2       6    89.835933
3       1    90.982321
4       1     0.000000
5       1     4.109869
6       1  1039.179862
7       1    17.295418
8       2    40.378306
9       1    11.741728
10      4     5.888078
11      8  7064.517377
12      1    89.660229
13      2    13.285765
14      1  2438.867906
15      1  8089.745601
16      3  6901.839800
17      8    28.730582
18      1  1364.855854
19      2   405.583660
20      1   424.823698
21      2   998.202376
22      1  2234.207668
23      2   287.694447
24      3    79.295396
25      2  1440.919358
26      1    43.875943
27      1   192.783489
28      1    35.389160
29      1     9.028966
...   ...          ...
3289    4          NaN
3290    1          NaN
3291    3          NaN
3292    2          NaN
3293    1          NaN
3294    2          NaN
3295    1          NaN
3296    1          NaN
3297    2          NaN
3298    1          NaN
3299    5          NaN
3300    3          NaN
3301    1          NaN
3302    1          NaN
3303    1          NaN
3304    2          NaN
3305    1          NaN
3306    1          NaN
3307    3          NaN
3308    4          NaN
3309    4          NaN
3310    1          NaN
3311    8          NaN
3312    1          NaN
3313    2          NaN
3314    1          NaN
3315    8          NaN
3316    1          NaN
3317    3          NaN
3318    2          NaN

[3319 rows x 2 columns]
['entryId', 'CUM_GPA']
      entryId  CUM_GPA
0      208111     3.21
1      204768     2.87
2      220565     3.53
3      183011     3.61
4      209218     3.91
5      216948     2.38
6      214809     3.59
7      216257     3.21
8      213542     3.71
9      176484     3.58
10     211553     3.72
11     167167     3.28
12     134466     3.31
13     185557     3.47
14     196595     2.71
15     210482     3.06
16     170828     3.17
17     217040     3.47
18     187510     3.94
19     183147     3.59
20     188109     3.45
21     151879     3.22
22     214766     3.41
23     185824     3.89
24     202125     3.52
25     197997     3.08
26     196518     3.75
27     181994     3.36
28     173263     3.21
29     187696     3.56
...       ...      ...
3289   192051     3.08
3290   182273     3.01
3291   216914     2.97
3292   201963     3.65
3293   151854     3.79
3294   225132     3.73
3295   196554     3.41
3296   207510     3.72
3297   227289     3.53
3298   217004     3.71
3299   166596     3.23
3300   216383     3.65
3301   207894     3.71
3302   211701     3.66
3303   243567     3.30
3304   211337     3.88
3305   186744     3.92
3306   211953     2.65
3307   136128     2.91
3308   209044     3.08
3309   207478     3.50
3310   197060     3.62
3311   137527     3.63
3312   138442     3.31
3313   188329     3.36
3314   180408     3.37
3315   155628     3.82
3316   226436     3.52
3317   214454     3.73
3318   211633     2.74

[3319 rows x 2 columns]
['entryId', '(No column name)']
      entryId  (No column name)
0      208111          1.166271
1      204768          1.054312
2      220565          1.261298
3      183011          1.283708
4      209218          1.363537
5      216948          0.867100
6      214809          1.278152
7      216257          1.166271
8      213542          1.311032
9      176484          1.275363
10     211553          1.313724
11     167167          1.187843
12     134466          1.196948
13     185557          1.244155
14     196595          0.996949
15     210482          1.118415
16     170828          1.153732
17     217040          1.244155
18     187510          1.371181
19     183147          1.278152
20     188109          1.238374
21     151879          1.169381
22     214766          1.226712
23     185824          1.358409
24     202125          1.258461
25     197997          1.124930
26     196518          1.321756
27     181994          1.211941
28     173263          1.166271
29     187696          1.269761
...       ...               ...
3289   192051          1.124930
3290   182273          1.101940
3291   216914          1.088562
3292   201963          1.294727
3293   151854          1.332366
3294   225132          1.316408
3295   196554          1.226712
3296   207510          1.313724
3297   227289          1.261298
3298   217004          1.311032
3299   166596          1.172482
3300   216383          1.294727
3301   207894          1.311032
3302   211701          1.297463
3303   243567          1.193922
3304   211337          1.355835
3305   186744          1.366092
3306   211953          0.974560
3307   136128          1.068153
3308   209044          1.124930
3309   207478          1.252763
3310   197060          1.286474
3311   137527          1.289233
3312   138442          1.196948
3313   188329          1.211941
3314   180408          1.214913
3315   155628          1.340250
3316   226436          1.258461
3317   214454          1.316408
3318   211633          1.007958

[3319 rows x 2 columns]
['entryId', 'AvgCredits']
      entryId  AvgCredits
0      208111   16.000000
1      204768   20.000000
2      220565   23.000000
3      183011   20.800000
4      209218   29.000000
5      216948   12.666667
6      214809   21.500000
7      216257   16.500000
8      213542   16.000000
9      176484   17.750000
10     211553   15.000000
11     167167   17.800000
12     134466   13.666667
13     185557   16.000000
14     196595   16.000000
15     210482   18.000000
16     170828   16.000000
17     217040   24.500000
18     187510   26.000000
19     183147   19.750000
20     188109   18.000000
21     151879   17.200000
22     214766   18.000000
23     185824   23.000000
24     202125   17.500000
25     197997   26.500000
26     196518   30.000000
27     181994   17.333333
28     173263   16.000000
29     187696   19.250000
...       ...         ...
3289   192051    9.125000
3290   182273   16.250000

['cnt', 'gender', 'ProfileWeightEnum']
      cnt  gender  ProfileWeightEnum
0       1       0                  3
1       2       1                  4
2       6       0                  5
3       1       0                  3
4       1       1                  4
5       1       0                  3
6       1       1                  3
7       1       0                  3
8       2       1                  4
9       1       1                  1
10      4       1                  4
11      8       0                  4
12      1       0                  2
13      2       1                  3
14      1       1                  3
15      1       1                  4
16      3       0                  3
17      8       1                  5
18      1       1                  3
19      2       0                  3
20      1       0                  3
21      2       1                  2
22      1       0                  4
23      2       0                  4
24      3       0                  3
25      2       0                  4
26      1       0                  3
27      1       1                  5
28      1       0                  3
29      1       1                  3
...   ...     ...                ...
3289    4       0                  3
3290    1       0                  1
3291    3       1                  1
3292    2       1                  3
3293    1       1                  4
3294    2       1                  2
3295    1       1                  3
3296    1       0                  3
3297    2       1                  3
3298    1       1                  2
3299    5       1                  3
3300    3       1                  3
3301    1       0                  4
3302    1       0                  4
3303    1       1                  3
3304    2       0                  4
3305    1       1                  2
3306    1       1                  2
3307    3       1                  2
3308    4       1                  5
3309    4       1                  4
3310    1       1                  1
3311    8       1                  3
3312    1       1                  3
3313    2       0                  4
3314    1       1                  3
3315    8       1                  3
3316    1       1                  3
3317    3       1                  4
3318    2       0                  3

[3319 rows x 3 columns]
['cnt', 'gender', 'City']
      cnt  gender                City
0       1       0                 Rye
1       2       1              Smyrna
2       6       0        Chesterbrook
3       1       0          Farmington
4       1       1            New York
5       1       0             Astoria
6       1       1       Boynton Beach
7       1       0               Union
8       2       1             Norwalk
9       1       1               Bronx
10      4       1            Brooklyn
11      8       0              Lahore
12      1       0        Williamstown
13      2       1       Staten Island
14      1       1             Arcadia
15      1       1            Shenzhen
16      3       0           Islamabad
17      8       1            New City
18      1       1          Richardson
19      2       0           Cleveland
20      1       0             Raleigh
21      2       1             Valrico
22      1       0           Las Vegas
23      2       0            Richmond
24      3       0            Voorhees
25      2       0                Katy
26      1       0  Princeton Junction
27      1       1              Revere
28      1       0         Mount Kisco
29      1       1              Leonia
...   ...     ...                 ...
3289    4       0            Mussafah
3290    1       0               Bronx
3291    3       1          Lackawanna
3292    2       1             Orlando
3293    1       1            Hinsdale
3294    2       1        Port Harcout
3295    1       1           Stratford
3296    1       0       East Willison
3297    2       1        Hillsborough
3298    1       1        Severna Park
3299    5       1   Arlington Heights
3300    3       1     North Kingstown
3301    1       0               Rugao
3302    1       0            New York
3303    1       1              Laurel
3304    2       0            Oak Park
3305    1       1            Mascotte
3306    1       1  Huntington Station
3307    3       1       East Elmhurst
3308    4       1              Aurora
3309    4       1           Bangalore
3310    1       1            Setauket
3311    8       1           Las Vegas
3312    1       1        Hillsborough
3313    2       0          South Hero
3314    1       1          Naperville
3315    8       1          San Marino
3316    1       1           Riverside
3317    3       1        Florham Park
3318    2       0            Ossining

[3319 rows x 3 columns]
['cnt', 'gender', 'StateProvince']
      cnt  gender StateProvince
0       1       0            NY
1       2       1            GA
2       6       0            PA
3       1       0            CT
4       1       1            NY
5       1       0            NY
6       1       1            FL
7       1       0            NJ
8       2       1            CT
9       1       1            NY
10      4       1            NY
11      8       0
12      1       0            NJ
13      2       1            NY
14      1       1            CA
15      1       1            44
16      3       0
17      8       1            NY
18      1       1            TX
19      2       0            OH
20      1       0            NC
21      2       1            FL
22      1       0            NV
23      2       0            VA
24      3       0            NJ
25      2       0            TX
26      1       0            NJ
27      1       1            MA
28      1       0            NY
29      1       1            NJ
...   ...     ...           ...
3289    4       0            AZ
3290    1       0            NY
3291    3       1            NY
3292    2       1            FL
3293    1       1            IL
3294    2       1            RI
3295    1       1            CT
3296    1       0            NY
3297    2       1            CA
3298    1       1            MD
3299    5       1            IL
3300    3       1            RI
3301    1       0            32
3302    1       0            NY
3303    1       1            MD
3304    2       0            IL
3305    1       1            FL
3306    1       1            NY
3307    3       1            NY
3308    4       1            CO
3309    4       1            KA
3310    1       1            NY
3311    8       1            NV
3312    1       1            NJ
3313    2       0            VT
3314    1       1            IL
3315    8       1            CA
3316    1       1            CT
3317    3       1            NJ
3318    2       0            NY

[3319 rows x 3 columns]
['cnt', 'gender', 'country']
      cnt  gender               country
0       1       0         United States
1       2       1         United States
2       6       0         United States
3       1       0         United States
4       1       1         United States
5       1       0         United States
6       1       1         United States
7       1       0         United States
8       2       1         United States
9       1       1         United States
10      4       1         United States
11      8       0              Pakistan
12      1       0         United States
13      2       1         United States
14      1       1         United States
15      1       1                 China
16      3       0              Pakistan
17      8       1         United States
18      1       1         United States
19      2       0         United States
20      1       0         United States
21      2       1         United States
22      1       0         United States
23      2       0         United States
24      3       0         United States
25      2       0         United States
26      1       0         United States
27      1       1         United States
28      1       0         United States
29      1       1         United States
...   ...     ...                   ...
3289    4       0  United Arab Emirates
3290    1       0         United States
3291    3       1         United States
3292    2       1         United States
3293    1       1         United States
3294    2       1               Nigeria
3295    1       1         United States
3296    1       0         United States
3297    2       1         United States
3298    1       1         United States
3299    5       1         United States
3300    3       1         United States
3301    1       0                 China
3302    1       0         United States
3303    1       1         United States
3304    2       0         United States
3305    1       1         United States
3306    1       1         United States
3307    3       1         United States
3308    4       1         United States
3309    4       1                 India
3310    1       1         United States
3311    8       1         United States
3312    1       1         United States
3313    2       0         United States
3314    1       1         United States
3315    8       1         United States
3316    1       1         United States
3317    3       1         United States
3318    2       0         United States

[3319 rows x 3 columns]
['cnt', 'gender', 'distance']
      cnt  gender     distance
0       1       0    23.428611
1       2       1   714.797582
2       6       0    89.835933
3       1       0    90.982321
4       1       1     0.000000
5       1       0     4.109869
6       1       1  1039.179862
7       1       0    17.295418
8       2       1    40.378306
9       1       1    11.741728
10      4       1     5.888078
11      8       0  7064.517377
12      1       0    89.660229
13      2       1    13.285765
14      1       1  2438.867906
15      1       1  8089.745601
16      3       0  6901.839800
17      8       1    28.730582
18      1       1  1364.855854
19      2       0   405.583660
20      1       0   424.823698
21      2       1   998.202376
22      1       0  2234.207668
23      2       0   287.694447
24      3       0    79.295396
25      2       0  1440.919358
26      1       0    43.875943
27      1       1   192.783489
28      1       0    35.389160
29      1       1     9.028966
...   ...     ...          ...
3289    4       0          NaN
3290    1       0          NaN
3291    3       1          NaN
3292    2       1          NaN
3293    1       1          NaN
3294    2       1          NaN
3295    1       1          NaN
3296    1       0          NaN
3297    2       1          NaN
3298    1       1          NaN
3299    5       1          NaN
3300    3       1          NaN
3301    1       0          NaN
3302    1       0          NaN
3303    1       1          NaN
3304    2       0          NaN
3305    1       1          NaN
3306    1       1          NaN
3307    3       1          NaN
3308    4       1          NaN
3309    4       1          NaN
3310    1       1          NaN
3311    8       1          NaN
3312    1       1          NaN
3313    2       0          NaN
3314    1       1          NaN
3315    8       1          NaN
3316    1       1          NaN
3317    3       1          NaN
3318    2       0          NaN

[3319 rows x 3 columns]
['cnt', 'ProfileWeightEnum', 'City']
      cnt  ProfileWeightEnum                City
0       1                  3                 Rye
1       2                  4              Smyrna
2       6                  5        Chesterbrook
3       1                  3          Farmington
4       1                  4            New York
5       1                  3             Astoria
6       1                  3       Boynton Beach
7       1                  3               Union
8       2                  4             Norwalk
9       1                  1               Bronx
10      4                  4            Brooklyn
11      8                  4              Lahore
12      1                  2        Williamstown
13      2                  3       Staten Island
14      1                  3             Arcadia
15      1                  4            Shenzhen
16      3                  3           Islamabad
17      8                  5            New City
18      1                  3          Richardson
19      2                  3           Cleveland
20      1                  3             Raleigh
21      2                  2             Valrico
22      1                  4           Las Vegas
23      2                  4            Richmond
24      3                  3            Voorhees
25      2                  4                Katy
26      1                  3  Princeton Junction
27      1                  5              Revere
28      1                  3         Mount Kisco
29      1                  3              Leonia
...   ...                ...                 ...
3289    4                  3            Mussafah
3290    1                  1               Bronx
3291    3                  1          Lackawanna
3292    2                  3             Orlando
3293    1                  4            Hinsdale
3294    2                  2        Port Harcout
3295    1                  3           Stratford
3296    1                  3       East Willison
3297    2                  3        Hillsborough
3298    1                  2        Severna Park
3299    5                  3   Arlington Heights
3300    3                  3     North Kingstown
3301    1                  4               Rugao
3302    1                  4            New York
3303    1                  3              Laurel
3304    2                  4            Oak Park
3305    1                  2            Mascotte
3306    1                  2  Huntington Station
3307    3                  2       East Elmhurst
3308    4                  5              Aurora
3309    4                  4           Bangalore
3310    1                  1            Setauket
3311    8                  3           Las Vegas
3312    1                  3        Hillsborough
3313    2                  4          South Hero
3314    1                  3          Naperville
3315    8                  3          San Marino
3316    1                  3           Riverside
3317    3                  4        Florham Park
3318    2                  3            Ossining

[3319 rows x 3 columns]
['cnt', 'ProfileWeightEnum', 'StateProvince']
      cnt  ProfileWeightEnum StateProvince
0       1                  3            NY
1       2                  4            GA
2       6                  5            PA
3       1                  3            CT
4       1                  4            NY
5       1                  3            NY
6       1                  3            FL
7       1                  3            NJ
8       2                  4            CT
9       1                  1            NY
10      4                  4            NY
11      8                  4
12      1                  2            NJ
13      2                  3            NY
14      1                  3            CA
15      1                  4            44
16      3                  3
17      8                  5            NY
18      1                  3            TX
19      2                  3            OH
20      1                  3            NC
21      2                  2            FL
22      1                  4            NV
23      2                  4            VA
24      3                  3            NJ
25      2                  4            TX
26      1                  3            NJ
27      1                  5            MA
28      1                  3            NY
29      1                  3            NJ
...   ...                ...           ...
3289    4                  3            AZ
3290    1                  1            NY
3291    3                  1            NY
3292    2                  3            FL
3293    1                  4            IL
3294    2                  2            RI
3295    1                  3            CT
3296    1                  3            NY
3297    2                  3            CA
3298    1                  2            MD
3299    5                  3            IL
3300    3                  3            RI
3301    1                  4            32
3302    1                  4            NY
3303    1                  3            MD
3304    2                  4            IL
3305    1                  2            FL
3306    1                  2            NY
3307    3                  2            NY
3308    4                  5            CO
3309    4                  4            KA
3310    1                  1            NY
3311    8                  3            NV
3312    1                  3            NJ
3313    2                  4            VT
3314    1                  3            IL
3315    8                  3            CA
3316    1                  3            CT
3317    3                  4            NJ
3318    2                  3            NY

[3319 rows x 3 columns]
['cnt', 'ProfileWeightEnum', 'country']
      cnt  ProfileWeightEnum               country
0       1                  3         United States
1       2                  4         United States
2       6                  5         United States
3       1                  3         United States
4       1                  4         United States
5       1                  3         United States
6       1                  3         United States
7       1                  3         United States
8       2                  4         United States
9       1                  1         United States
10      4                  4         United States
11      8                  4              Pakistan
12      1                  2         United States
13      2                  3         United States
14      1                  3         United States
15      1                  4                 China
16      3                  3              Pakistan
17      8                  5         United States
18      1                  3         United States
19      2                  3         United States
20      1                  3         United States
21      2                  2         United States
22      1                  4         United States
23      2                  4         United States
24      3                  3         United States
25      2                  4         United States
26      1                  3         United States
27      1                  5         United States
28      1                  3         United States
29      1                  3         United States
...   ...                ...                   ...
3289    4                  3  United Arab Emirates
3290    1                  1         United States
3291    3                  1         United States
3292    2                  3         United States
3293    1                  4         United States
3294    2                  2               Nigeria
3295    1                  3         United States
3296    1                  3         United States
3297    2                  3         United States
3298    1                  2         United States
3299    5                  3         United States
3300    3                  3         United States
3301    1                  4                 China
3302    1                  4         United States
3303    1                  3         United States
3304    2                  4         United States
3305    1                  2         United States
3306    1                  2         United States
3307    3                  2         United States
3308    4                  5         United States
3309    4                  4                 India
3310    1                  1         United States
3311    8                  3         United States
3312    1                  3         United States